Northwind2.ServiceWcf.Proxies/Service References/Northwind2ServiceReference/Northwind2Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Northwind2.ServiceWcf.SDO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Northwind2.ServiceWcf.SDO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserFullNameToRoleNameSDO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationRoleID" type="xs:int" />
      <xs:element minOccurs="0" name="ApplicationRoleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicationUserFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicationUserID" type="xs:int" />
      <xs:element minOccurs="0" name="ApplicationUserLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserFullNameToRoleNameSDO" nillable="true" type="tns:UserFullNameToRoleNameSDO" />
</xs:schema>